<div class="freenavspace" id="main"></div>
<header class="header">
    <a href="" class="logo">Gamepads</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"></label>
    <ul class="menu">
      <li><a href="#main">Main</a></li>
      <li><a href="#Second">Gallery</a></li>
      <li><a href="#Third">Edit</a></li>
    </ul>
  </header>
  <span class="navicon"></span>
<div class="section" id="first"><div class="block"><h1>Gamepads</h1></div></div>

<app-section2-cards></app-section2-cards>


<img id="scheme" src="https://drive.google.com/uc?export=view&id=1H4Tqi0tbsPwrouQO4HTjIXZjxWKVwzxF" alt="">

<footer><span>&copy; 2022 Борисенко Максим</span></footer>