<div class="section" id="Second">
    <div class="block" id="block2">
        <h1>Gallery</h1>
        <div class="cards">
            <div class="card" *ngFor="let ent of usersList">
                
                <img class="card-img" id="card-img{{ent.id}}" src="/assets/card.jpg" alt="">
                <span  class=card-title><strong>{{ent.name}}</strong></span>
                <p  id="price">Price: {{ent.price}}$</p>
                <p class="bordertop">{{ent.description}}</p>
                
                <b><div class="interactpartofcard"><img (click)="onSelect(ent)" src="/assets/edit.png" alt=""><span (click)="deleteUser(ent)" id="xxx"> X </span></div></b>
                <!-- <p class="bordertop" id="{{visibility[0]}}">{{ent.price}}</p> -->
                <!-- <img class="moreinfobtn" (click) = "changeVisibility(0)" src="\assets\morebtn.png" alt=""> -->
            </div>
            
        </div>
    </div>
</div>
<div class="section" id="Third">
    <div class="block">
        
        <div class="interactblock">
        <h1>ADD</h1>
        <form #form1="ngForm" (ngSubmit)="addUser(form1.value)">
            <input type="hidden" id="name" class="feedback-input" name="id"  ngModel="-1">
            <input type="text" id="email" class="feedback-input" placeholder="Name" name="name"  ngModel="New Gamepad">
            <input type="number" class="feedback-input" placeholder="Price" name="price" ngModel=23>
            <textarea type="text" class="feedback-input" placeholder="Description" name="description" ngModel="A gamepad is a device used to control the gameplay of video games on the game console. "></textarea>
            <input type="hidden" class="feedback-input" name="link" ngModel="">
            <input type="submit" value="Add Gamepad">
        </form>
        </div>

        <div class="interactblock" *ngIf="selectedUser">
        <h1>EDIT</h1>
        <form  #form2="ngForm" (ngSubmit)="updateUser(form2.value)">
            <input type="hidden" id="name" class="feedback-input" name="id"  ngModel="{{selectedUser.id}}">
            <input type="text" id="email" class="feedback-input" placeholder="Name" name="name"  ngModel="{{selectedUser.name}}">
            <input type="number" class="feedback-input" placeholder="Price"  name="price" ngModel="{{selectedUser.price}}">
            <textarea class="feedback-input" placeholder="Description" name="description" ngModel="{{selectedUser.description}}"></textarea>
            <input type="hidden" class="feedback-input" name="link" ngModel="{{selectedUser.link}}">
            <input type="submit"  value="Edit Gamepad">
        </form> 
        </div>
    </div>
</div>


